<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main>
        <h1>Login Here!...</h1>

        <div class="form_cover">

            <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="u_name">Username</label>
                    <input type="text" placeholder="demo" name="u_name">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" placeholder="1234..." name="password">
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

</body>

</html>