<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'files/images/icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <title>About us</title>
</head>
<body>
    <div class="wrapper">

        <header>
            <a href="{% url 'first-page' %}"><img src="{% static 'files/images/icon.png' %}" alt="Oh, no.. the file wouldn't open"/></a>

            <nav class="links">
                <a href="{% url 'first-page' %}" class="link">Home</a>
                <a href="{% url 'about-page' %}" class="link">About Us</a>
                <a href="{% url 'cont-page' %}" class="link">Contact Us</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'dash-page' %}" class="link">Dashboard</a>
                {%else%}
                {%endif%}
            </nav>
                
            <nav class="register">
                {% if user.is_authenticated %}
                    <a href="{% url 'log-out' %}" id="out">Log out</a>
                {%else%}
                    <a href="{% url 'sign-page' %}" id="sign">Sign Up</a>
                    <a href="{% url 'log-page' %}" id="log">Log in</a>
                {% endif %}
            </nav>
                
        </header>

        <section class="about">

            <div class="block">
                <div class="one">

                    <div class="card">
                        <h1>
                            METADATA
                        </h1>
                        <p>
                            METADATA is a platform aimed <br>
                            at creating a space for storing data <br>
                            and saving information in METADATA <br>
                        </p>
                    </div>

                    <div class="card">
                        <h1>
                            MEET THE TEAM
                        </h1>
                        <p>
                            Our team comprises of UX <br>
                            Designers, Front End Developers <br>
                            and Back End Developers <br>
                            collaborating to build different <br>
                            platforms of which this one of them. <br>
                        </p>
                    </div>

                </div>

                <div class="two">

                        <h1>
                            OUR MISSION
                        </h1>

                    <div class="cask">
                            <div class="container a">
                                <p>
                                    To help and enlighten individuals on
                                    saving information and storing data 
                                </p>
                            </div>
                            <div class="container b">
                                <p>
                                    To create an avenue in which
                                    individuals can store their data
                                </p>
                            </div>
                        <div class="container a">
                            <p>
                                Individuals can also book an 
                                appointment for the various services we offer
                            </p>
                        </div>
                        <div class="container b">
                            <p>
                                To encourage users and to improve their 
                                skills on saving information and storing data
                            </p>
                        </div>
                        <div class="container a">
                            <p>
                                To create a forum where individual can come 
                                and discuss interesting topics on data storage 
                            </p>
                        </div>

                    </div>    
                </div>
            </div>

            <div class="value">
                <div class="art">
                    <h1>
                        OUR VALUE
                    </h1>
                    <div class="circle">
                        <p>
                            OUR VALUES
                        </p>
                    </div>
                    <span id="a"><i class="fa-solid fa-users"></i> Team work</span>
                    <span id="b"><i class="fa-solid fa-brain"></i> Innovation</span>
                    <span id="c"><i class="fa-solid fa-arrows-down-to-people"></i> Customer focus</span>
                    <span id="d"><i class="fa-solid fa-person-digging"></i> Work Ethic</span>
                    <span id="e"><i class="fa-solid fa-graduation-cap"></i> Excellence</span>
                </div>
            </div>
            
        </section>

        <footer>
            <div class="foots">
                
                <div class="socials">

                    <p>Connect with us</p>
                    
                    <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
                    
                </div>
                
                <div class="links">
                    
                    <p>Quick Link</p>
                    
                    <ul>
                        <li><a href="{%url 'first-page' %}">Home</a></li>
                        <li><a href="/">How it works</a></li>
                        <li><a href="{% url 'about-page' %}">About Us</a></li>
                        <li><a href="{% url 'sign-page' %}">Register</a></li>
                        <li><a href="{%url 'log-page' %}">Login</a></li>
                    </ul>
                    
                </div>
                
                <div class="help">
                    
                    <p>Support</p>
                    
                    <ul>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Blogs</a></li>
                    </ul>
                    
                </div>
            </div>

            <div class="copy">
                copyright © 2022 Team_Scorpion 2
            </div>
        </footer>

    </div>
    <script src="{% static 'javascript/index.js' %}"></script>
    </div>
        </footer>

    </div>
</body>
</html>