<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'files/images/icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <title>Contact Us</title>
</head>
<body>

    <div class="wrapper">

        <header>

            <a href="{% url 'first-page' %}"><img src="{% static 'files/images/icon.png' %}" alt="Oh, no.. the file wouldn't open"/></a>


            <nav class="links">
                <a href="{% url 'first-page' %}" class="link">Home</a>
                <a href="{% url 'about-page' %}" class="link">About Us</a>
                <a href="{% url 'cont-page' %}" class="link">Contact Us</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'dash-page' %}" class="link">Dashboard</a>
                {%else%}
                {%endif%}
            </nav>
                
            <nav class="register">
                {% if user.is_authenticated %}
                    <a href="{% url 'log-out' %}" id="out">Log out</a>
                {%else%}
                <a href="{% url 'sign-page' %}" id="sign">Sign Up</a>
                <a href="{% url 'log-page' %}" id="log">Log in</a>
                {%endif%}
            </nav>
                
        </header>

        <section class="contact">

            <div class="block">
                <div class="text">
                    <h1>
                        Get in Touch
                    </h1>

                    <div class="links">
                        <a href=""><i class="fa-solid fa-envelope"></i></a>
                        <a href=""><i class="fa-solid fa-phone"></i></a>
                    </div>

                    <p>
                        Our costumer satisfaction is our outmost priority! <br>
                        Our support service is available round the clock <br>
                        to assist with any question you may have regarding <br>
                        our platform.
                    </p>
                </div>

                <form action="">
                    <label for="">Name</label>
                    <input type="text" placeholder="Your name">

                    <label for="">Email</label>
                    <input type="email" name="email" id="" placeholder="your@email.com">

                    <label for="">Message</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>

                    <input type="button" value="Send" id="btn">
                </form>

            </div>

        </section>

        <footer>
            <div class="foots">
                
                <div class="socials">

                    <p>Connect with us</p>
                    
                    <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
                    
                </div>
                
                <div class="links">
                    
                    <p>Quick Link</p>
                    
                    <ul>
                        <li><a href="{% url 'first-page' %}"">Home</a></li>
                        <li><a href="">How it works</a></li>
                        <li><a href="{% url 'about-page' %}">About Us</a></li>
                        <li><a href="{% url 'sign-page' %}">Register</a></li>
                        <li><a href="{% url 'about-page' %}">Login</a></li>
                    </ul>
                    
                </div>
                
                <div class="help">
                    
                    <p>Support</p>
                    
                    <ul>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Blogs</a></li>
                    </ul>
                    
                </div>
            </div>

            <div class="copy">
                copyright © 2022 Team_Scorpion 2
            </div>
        </footer>

    </div>

    <script src="{% static 'javascript/index.js' %}"></script>
</body>
</html>