<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'files/images/icon.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}"/>
    <title>Dashboard | Welcome</title>
</head>
<body>
    <div class="wrapper">
    <!-- Side bar section -->
        <div class="a">
            <div class="sidebar">
                <div class="profile-img">
                    <img src="{% static 'files/images/Group 60.png' %}" alt="Profile Image"/>
                </div>
                <div class="folder" id="file">
                    <img src="{% static 'files/images/folder.png' %}" alt=""/>
                    <button>My Files</button>
                </div>
                <div class="folder">
                    <img src="{% static 'files/images/eos-icons_storage-class-outlined.png' %}" alt=""/>
                    <button>Storage</button>
                </div>
                <div class="folder">
                    <img src="{% static 'files/images/ph_trash-simple-thin.png' %}" alt=""/>
                    <button>Trash</button>
                </div>
                <div class="divider">
                    <img src="{% static 'files/images/Line 57.png' %}" alt=""/>
                </div>
                <div class="folder">
                    <img src="{% static 'files/images/uil_setting.png' %}" alt=""/>
                    <button>Settings</button>
                </div>
                <div class="folder">
                    <img src="{% static 'files/images/Vector.png' %}" alt=""/>
                    <button>Support</button>
                </div>
                <div class="folder" id="logout">
                    <img src="{% static 'files/images/ion_log-out-outline.png' %}" alt=""/>
                    <a href="{% url 'log-out' %}"><button >Log Out</button></a>
                </div>
            </div>
        </div>

    <!-- main section -->
        <div class="b">
        <!-- nav bar -->
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'first-page' %}"><img src="{% static 'files/images/icon.png' %}" alt="Oh, no.. the file wouldn't open"/></a></li>
                    <li><input type="search" name="search" id="search" placeholder="Search files"></li>
                    <li><img src="{% static 'files/images/mdi_file-jpeg-box.png' %}" alt=""></li>
                    <li><img src="{% static 'files/images/fa-solid_file-csv.png' %}" alt=""></li>
                    <li><img src="{% static 'files/images/Vector (2).png' %}" alt=""></li>
                    <li><img src="{% static 'files/images/bxs_file-json.png' %}" alt=""></li>
                </ul>
            </div>
        
        <!-- upload section -->
            
            <form  enctype="multipart/form-data" method="POST">
                
                {%csrf_token%}
                <!-- <input type="file" name="document"> -->
                {{ form.as_p }}

                    <!-- <p>Click to add a file</p> -->
                    <!-- <p>Only jpg, csv, pdf, and json</p> -->
                
                
                    <!-- <img src="{% static 'files/images/Group 46.png' %}" alt=""/> -->
                <!-- button section -->
                <div class="button">
                    <input type="Submit" value="View Metadata" ></input>
                </div>
            </form>

                
            
        

        <!-- view section -->
            <div class="">
                


            </div>

        </div>
    <!-- file display section -->
        <div class="c">
            <di class="display">
                <div class="recentfiles">
                <p>Recent Files</p>
                </div>
                <div class="view-all">
                <p>View all</p>
                </div>
            </di>
        </div>
    </div>
</body>
</html>